nav {
  background-color:#A17925;
}

.teal {
  background-color: #006073;
}

.gold {
  background-color: #A17925;
}

.brand-logo img {
  height: 72px;
  display: none;
}

@media only screen and (min-width: 992px){
  .brand-logo img {
    display: inline;
  }
}